{% extends 'charts/base.html' %}

{% block title %}Forecast temperature in {{ city.name }}{% endblock title %}

{% block scripts %}
    {% if type == "hourly" %}
        <script>
            $(document).ready(function () {
                var ctx = document.getElementById("hourlyChart").getContext("2d");
                var hourlyChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: [],
                        datasets: [{
                            pointRadius: 4,
                            fill: 'false',
                            label: 'temp of {{ city.name }}',
                            pointStyle: "circle",
                            data: [
                                {% for item in forecast_context %}
                                    {
                                        t: new Date("{{item.time}}"),
                                        y: {{item.info.temp}}
                                    },
                                {% endfor %}
                            ],
                            backgroundColor: [
                                'rgba(11, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                {#Цвет линии#}
                                'rgba(75, 192, 192, 1)',
                            ],
                            pointBackgroundColor: [
                                {% for item in forecast_context %}
                                    'rgb(206,12,12)',
                                {% endfor %}
                            ],
                            borderWidth: 3
                        },
                            {
                                pointRadius: 4,
                                fill: 'false',
                                label: 'feels like',
                                pointStyle: "circle",
                                data: [
                                    {% for item in forecast_context %}
                                        {
                                            t: new Date("{{item.time}}"),
                                            y: {{item.info.feels_like}}
                                        },
                                    {% endfor %}
                                ],
                                backgroundColor: [
                                    'rgba(11, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    {#Цвет линии#}
                                    'rgb(40,196,92)',
                                ],
                                pointBackgroundColor: [
                                    {% for item in forecast_context %}
                                        'rgb(23,31,179)',
                                    {% endfor %}
                                ],
                                borderWidth: 3
                            }
                        ]
                    },
                    options: {
                        scales: {
                            xAxes: [{
                                type: 'time',
                                stacked: false
                            }]
                        }
                    }
                })
            });
        </script>
    {% endif %}
    {% if type == "daily" %}
        <script>
            $(document).ready(function () {
                var ctx = document.getElementById("dailyChart").getContext("2d");
                var dailyChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: [],
                        datasets: [{
                            pointRadius: 4,
                            fill: 'false',
                            label: 'temp of {{ city.name }}',
                            pointStyle: "circle",
                            data: [
                                {% for item in forecast_context %}
                                    {
                                        t: new Date("{{item.time}}"),
                                        y: {{item.info.temp.day}}
                                    },
                                {% endfor %}
                            ],
                            backgroundColor: [
                                'rgba(11, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                {#Цвет линии#}
                                'rgba(75, 192, 192, 1)',
                            ],
                            pointBackgroundColor: [
                                {% for item in forecast_context %}
                                    'rgb(206,12,12)',
                                {% endfor %}
                            ],
                            borderWidth: 3
                        },
                            {
                                pointRadius: 4,
                                fill: 'false',
                                label: 'feels like',
                                pointStyle: "circle",
                                data: [
                                    {% for item in forecast_context %}
                                        {
                                            t: new Date("{{item.time}}"),
                                            y: {{item.info.feels_like.day}}
                                        },
                                    {% endfor %}
                                ],
                                backgroundColor: [
                                    'rgba(11, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    {#Цвет линии#}
                                    'rgb(40,196,92)',
                                ],
                                pointBackgroundColor: [
                                    {% for item in forecast_context %}
                                        'rgb(23,31,179)',
                                    {% endfor %}
                                ],
                                borderWidth: 3
                            }
                        ]
                    },
                    options: {
                        scales: {
                            xAxes: [{
                                type: 'time',
                                stacked: false
                            }]
                        }
                    }
                })
            });
        </script>
        <script>
            $(document).ready(function () {
                var backgroundColor = [];
                {% for item in forecast_context %}
                    var randomR = Math.floor((Math.random() * 200) + 100);
                    var randomG = Math.floor((Math.random() * 200) + 100);
                    var randomB = Math.floor((Math.random() * 200) + 100);
                    var graphBackgrounds = "rgb("
                        + randomR + ", "
                        + randomG + ", "
                        + randomB + ")";
                    backgroundColor.push(graphBackgrounds);
                {% endfor %}
                var ctx = document.getElementById("pressureChart").getContext("2d");
                var pressureChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: [
                            {% for item in forecast_context %}
                                "{{ item.time }}",
                            {% endfor %}

                        ],
                        datasets: [{
                            pointRadius: 1,
                            fill: 'start',
                            label: 'temp of {{ city.name }}',
                            data: [
                                {% for item in forecast_context %}
                                    {{ item.info.pressure }},
                                {% endfor %}
                            ],
                            backgroundColor: backgroundColor,
                            borderColor: [
                                'rgba(75, 192, 192, 1)',
                            ],
                            pointBackgroundColor: [
                                {% for item in forecast_context %}
                                    'rgb(206,12,12)',
                                {% endfor %}
                            ],
                            borderWidth: 5
                        }]
                    },
                })
            });
        </script>
    {% endif %}

{% endblock scripts %}

{% block content %}
    {% if type == "hourly" %}
        <canvas id="hourlyChart" width="500" height="200"></canvas>
    {% endif %}
    {% if type == "daily" %}
        <h1 align="center">Температура</h1>
        <canvas id="dailyChart" width="500" height="200"></canvas>
        <h1 align="center">Давление</h1>
        <canvas id="pressureChart" width="400" height="120"></canvas>
    {% endif %}
{% endblock content %}
