{% extends 'weather/base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-5">
                <h1>Погодное приложение</h1>
                <form action="{% url 'add_city' %}" method="post" id="addForm">
                    {% csrf_token %}
                    <label for="city">Погода в вашем городе</label><br><br>
                    {{ form.name }}
                    <br>
                    <input type="submit" name="send" value="Узнать" class="mt-1 btn btn-danger">
                </form>
            </div>
            <div class="col-5 offset-2 ">
                <div class="row">
                    <div class="col-md-3">
                        <h1>Информация</h1>
                    </div>
                    <div class="col-md-3 offset-md-4">
                        <form action="{% url 'update_info' %}" method="post" id="addForm">
                            {% csrf_token %}
                            <input type="submit" name="send" value="Обновить" class="mt-3 btn btn-success btn-sm">
                        </form>
                    </div>
                </div>
                <br>
                {% for city in city_list %}
                    <div class="alert alert-info">
                        <div class="row">
                            <div class="col-9">
                                <b>Город:</b> {{ city.name }} <br>
                                <b>Температура:</b> {{ city.information.temperature }} <sup>o</sup> <br>
                                <b>Облачность:</b> {{ city.information.sky }}<br>
                                <img src="http://openweathermap.org/img/w/{{ city.information.icon }}.png" alt="wIcon"
                                     class="img-thumbnail">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <form action="{% url 'information_city' city.information.city_id %}" method="get">
                                    <input type="submit" name="" value="Подробнее" class="mt-2 btn btn-danger">
                                </form>
                            </div>
                            <div class="col-md-1 offset-md-1">
                                <form action="{% url 'delete_city' city.id %}"
                                      method="post">
                                    {% csrf_token %}
                                    <input type="submit" name="" value="Удалить"
                                           class="mt-2 btn btn-secondary">
                                </form>
                            </div>
                        </div>
                        <br>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}